.btn {
  display: inline-block;
  padding: 18px 24px;

  color: $color-default-white;

  background-color: $color-medium-violet-red;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:hover {
    background-color: $color-default-white;
    color: $color-default-black;
    box-shadow: 0 0 30px 2px #f706a3;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-default-black;
    box-shadow: none;
  }

  &:disabled {
    background-color: $color-default-white;
    color: $color-default-black;
    opacity: 0.5;
    box-shadow: none;
  }
}
