.header {
  padding: 25px 0;
  background-color: $color-default-black;

  &__logo-wrpr {
    display: flex;
    align-items: center;

    @include vp-767 {
      align-items: start;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
  }

  &__decor {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: radial-gradient(87.1% 87.1% at 40.32% 20.97%, #f706a3 0%, #5a73ef 100%);
    box-shadow: inset 3px 4px 10.3px rgba(255, 255, 255, 0.25), inset -12px -17px 17.1px rgba(13, 12, 18, 0.3);
    margin-right: 18px;

    @include vp-767 {
      width: 21px;
      height: 21px;
    }
  }

  &__logo {
    font-family: "Involve", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 48px;
    color: $color-default-white;

    @include vp-767 {
      font-size: 30px;
      line-height: 110%;
    }
  }
}

.main-nav__link {
  font-family: "Evolventa", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $color-default-white;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
    color: $color-hollywood-cerise;
  }
}
