.hero {
  max-width: 1400px;
  margin: 0 auto;
  background-color: $color-default-black;
  color: $color-default-white;
  display: flex;
  align-items: center;
  justify-content: center;

  @include vp-1919 {
    padding: 0 30px;
  }

  @include vp-767 {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 15px;
  }

  &__button {
    display: inline-block;
    padding: 18px 24px;
    background: $color-medium-violet-red;
    border-radius: 18px;
    color: $color-default-white;
    font-family: "Evolventa", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;

    @include vp-767 {
      width: 100%;
      font-family: "Evolventa", "Arial", sans-serif;
      font-size: 16px;
      line-height: 110%;
      text-align: center;
      border-radius: 9px;
    }
  }

  &__underheader {
    display: inline-block;
    margin: 0;
    font-family: "Involve", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 90%;
    letter-spacing: 0.02em;
    color: $color-default-white;
    margin-bottom: 30px;

    @include vp-1439 {
      font-size: 60px;
    }

    @include vp-1279 {
      font-size: 40px;
    }

    @include vp-767 {
      font-size: 36px;
    }
  }

  &__header {
    margin-bottom: 6px;
    font-family: "Involve", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 120px;
    line-height: 90%;
    letter-spacing: 0.02em;
    background: linear-gradient(90deg, #f706a3 0%, #5a73ef 44%, #81f3f8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include vp-1439 {
      font-size: 100px;
    }

    @include vp-1279 {
      font-size: 70px;
    }

    @include vp-767 {
      font-size: 52px;
    }
  }

  &__text {
    @include vp-1279 {
      padding-left: 50px;
    }

    @include vp-1023 {
      padding-left: 30px;
    }

    @include vp-767 {
      padding-left: 0;
    }
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-767 {
      padding-left: 30px;
    }
  }

  &__tagline {
    margin-bottom: 72px;
    font-family: "Evolventa", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    color: $color-default-white;

    @include vp-767 {
      margin: 0;
      margin-bottom: 30px;
      font-family: "Evolventa", "Arial", sans-serif;
      font-size: 16px;
      line-height: 110%;
    }
  }
}
