@font-face {
  font-display: swap;
  font-family: "Involve";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Involve-Regular.woff") format("woff"),
    url("../fonts/Involve-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Involve";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Involve-Medium.woff") format("woff"),
    url("../fonts/Involve-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Evolventa";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Evolventa-Regular.woff") format("woff"),
    url("../fonts/Evolventa-Regular.woff2") format("woff2");
}
